<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <form id="updateForm">
        <input type="text" id="name" name="name" placeholder="Restaurant Name" required>
        <input type="text" id="cuisine_nature" name="cuisine_nature" placeholder="Cuisine Nature" required>
        <input type="text" id="address" name="address" placeholder="Address" required>
        <input type="tel" id="phone" name="phone" placeholder="Phone" required>
        <input type="number" id="rating" name="rating" placeholder="Rating" required>
        <input type="url" id="picture" name="picture" placeholder="Picture URL" required>
        <button type="button" id="updateButton">Update Restaurant</button>
    </form>
    
    <script src="../admin.js"></script>
</body>
</html>