<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Card</title>
    <link rel="stylesheet" href="../public/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <img src="../public/imgs/logo-2.png" style="width: 60px; border-radius: 10px;">
        <div class="search-container">
            <input type="text" placeholder="Search for Restaurants, Cuisines, Location..." oninput="searchRestaurant(this.value)" class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
    </header>

    <main>
        <div class="container">
            <a href="./_form.html"><button class="add">New Restaurant</button></a>
            <div class="cards">
                
            </div>
        </div>
    </main>

    <script src="../admin.js"></script>
</body>
</html>
