<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="container">
            <div class="cards-details">
                
            </div>
        </div>
    </main>

    <script>
        const params = new URLSearchParams(window.location.search);
        const value = params.get('card');
        const restaurant=JSON.parse(decodeURIComponent(value));

        const card = document.createElement('div');
        card.classList.add('card');
        const cardsContainer = document.querySelector('.cards-details');

        card.innerHTML = `
            <img src="${restaurant.picture}" alt="${restaurant.name}">
            <div class="infos">
                <div class="card-content">
                    <h2 class="name" style="margin-bottom: 20px">${restaurant.name}</h2>
                    <p style="margin-bottom: 20px"><strong>Address:</strong> ${restaurant.address}</p>
                    <p style="margin-bottom: 20px"><strong>Cuisine:</strong> ${restaurant.cuisine_nature}</p>
                    <p class="notation" style="margin-bottom: 20px">⭐ ${restaurant.rating}</p>
                    <span class="phone">📞 ${restaurant.phone}</span>
                </div>
                <div class="card-actions">
                    <a href="${restaurant.site}" target="_blank">Visit Site</a>
                </div>
            </div>
        `;
    
        cardsContainer.appendChild(card);
    </script>
</body>
</html>