/*** Global CSS ***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Red Hat Text", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

/*** header ***/

header {
    background-color: #194bd2c9;
    height: 80px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header input {
    width: 400px;
    padding: 13px;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    outline: none;
}

header .search-container {
    position: relative;
}

header .search-container i {
    position: absolute;
    right: 0;
    top: 50%;
    padding: 15px;
    font-size: 22px;
    transform: translateY(-50%);
    color: black;
}

/*** table ***/

.restaurant-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-table th, .restaurant-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.restaurant-table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.restaurant-table .cuisine {
    width: 300px;
}

.restaurant-table tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.restaurant-table td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.restaurant-table .btns button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin: 5px 5px 30px 5px;
    float: right;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add:hover {
    background-color: #409144;
}

.restaurant-table .delete {
    background-color: #f44336;
    color: white;
}

.restaurant-table .delete:hover {
    background-color: #da190b;
}

.restaurant-table .details-card {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.restaurant-table .details-card:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .restaurant-table th, .restaurant-table td {
        padding: 8px;
    }

    .restaurant-table td img {
        width: 40px;
        height: 40px;
    }

    .restaurant-table .btns button {
        padding: 6px 12px;
        font-size: 12px;
    }
}